
body{
	background-color: LightSteelBlue;
	width:900px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	}
	
.homephoto {
	width: 700px;
	}
	
.got {
	width: 550px;
	}
	
.gott {
	text-align: left;
	}
	
.weather {
	color: rgb(121, 35, 232);
	font-family: 'Lobster';
	font-size: 30px;
	text-align: center;
	}
	
.table-contacto{
	text-align: center;
}

.table-contacto th{
	width: 200px;
}

.weatherr {
	width: 500px;
	}	
		
.contact {
	width: 300px;
	}

.clubs {
	width: 170px;
	}
	
.culture {
	width: 400px;
	}
	
h1 {
	font-family: 'Lobster', cursive;
	color:Indigo;
	font-size: 40px;
	text-align: center;
	}
	
.sli {
	margin-left: auto;
	margin-top:auto;
	width: 750px;
	height: 400px;
}

.slip {
	padding-top: 40px;
	text-align: left;
	font-size: 27px;
	font-family: 'Oregano', cursive;
    font-weight: normal;
}
	
.eu {
	width: 480px;
	}

.ss{
	width: 480px;
	height: 300px;
	}
	
.euu {
	text-align: left;
	font-size: 27px;
	font-family: 'Oregano', cursive;
    font-weight: normal;
	text-align: justify;
	}

.ti {
	font-family: 'Lobster'; 
	font-size:30px;
	color: Black;
	font-weight: normal;
	}
	
.gmail {
	width:60px;
	}
	
.fb {
	width:60px;
	}
		
.twitter {
	width:60px;
	}
	
.topnav {
	font-family: 'Oregano', cursive;
	font-weight:600px;
	font-size: 30px;
	word-spacing: 0,90em;
	color: rgb(121, 35, 232);
	padding-bottom: 15px;
	text-align: center;
	}
	
.home {
	font-size:70px;
	color:DarkSlateGray;
	font-family: Arial;
	}
	
.landscapes {
	color: purple;
font-family: Times new roman;
	width: 500px;
	}

.ey {
	width: 400px;
	}

	.gmail .twitter .fb{
	float: right;
}
	
#slideshow {
    position:relative;
	margin: 0 auto;
    height:350px;
}

#slideshow IMG {
	width:600px;
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
	margin-left: 155px;
    margin-right: auto;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}
	